.content
{
    margin-top: 7%;
    border-radius: 20px;
    border-width: 2px;
    margin-bottom:100px;
    background-color: white;
    padding-left: 20px;
    padding-top: 20px;
    
}
.content h3 {
    text-align: center;
}