{% extends 'kongoni/base.html' %}
{% load static %}
<head>

    {% block content %}
     <!-- CSS CUSTOM -->
     <link rel="stylesheet" href="{% static 'kongoni/css/about.css' %}" />
</head>
<body>
<div class="content">
    <div class="transbox">
    
            <div class="overview">
                <h3>Overview</h3>
                <p>
                    The town has a total population of 198,444 (2019 census).
                    The main industry is agriculture, especially floriculture.
                    Naivasha is also a popular tourist destination. Hell's Gate National Park (the main locations for The Lion King, including Pride Rock and the Gorge, are modelled after the park), Mount Longonot National Park and Mount Longonot are nearby attractions. Tours also have included Lake Naivasha, to observe birdlife and hippopotamus behaviour, as well as other wild animals.
                    In the late 1970s–1980s Lake Naivasha was overrun with poachers and foreign creatures introduced into the lake to provide fishing.[citation needed] The migratory paths along lake Naivasha were being destroyed by the local rose industry.[citation needed] The naturalist Joan Root (1936–2006), spent the last decade of her life trying to save the lake and its wildlife.
                    A resort in Naivasha was the location for much of the negotiations of the Comprehensive Peace Agreement ending the Second Sudanese Civil War, commonly known as the "Naivasha Agreement".
                </p>
            </div>

            <div class="population">
                <h3>Population</h3>
                <p>
                    The town is home to the Isahakia community, descendants of Isaaq soldiers and traders that settled in Kenya in the 1900s.
                </p>    

            </div>

            <div class="transport">
                <h3> Transport</h3>
                    <p>
                        Naivasha is located on the shore of Lake Naivasha along the Nairobi–Nakuru highway (A104 road) and the Uganda Railway. In 2015, an extension of the new standard gauge railway to this town was approved.
                    </p>
            </div>
    </div>
</div>
</body>
{% endblock %}
</html>