{% extends 'kongoni/base.html' %} 
{% load static %}

{% block content %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no"/>   
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- jS and CSS CUSTOM -->
    <link rel="stylesheet" href="{% static 'kongoni/css/home.css' %}" />  
    <title>naivasha</title>
  </head>

  <body>
    <div class="content">
            <div class="naivasha" class="btn-group mt-2 mb-4" role="group" aria-label="actionButtons">
              <h3>Naivasha Sub-County</h3>
              <p class="line-1 anim-typewriter" style="color: white;">Home of unlimited opportunities and resources.</p>
            </div>


            <div class="content1">
              
            


            </div>




            <div class="content2">
                  <div class="content-wrapper">
                    <div class="portfolio-items-wrapper">
              
                      <div class="portfolio-item-wrapper">
                        <div class="portfolio-img-background" style="background-image:url(static/kongoni/images/home/hotels/portfolio1.jpg) "></div>
              
                        <div class="img-text-wrapper">
                          <div class="logo-wrapper">
                            <img src="{% static 'kongoni/images/home/logos/quip.png' %}" alt="">
                          </div>
              
                         <a href="https://www.enashipai.com/" target="blank" style="text-decoration: none;"><div class="subtitle">Enashipai Resort.</div></a> 
                        </div>
                      </div>
              
                      <div class="portfolio-item-wrapper">
                        <div class="portfolio-img-background" style="background-image:url(static/kongoni/images/home/hotels/portfolio2.jpg)"></div>
                        <div class="img-text-wrapper">
                          <div class="logo-wrapper">
                            <img src="{% static 'kongoni/images/home/logos/devcamp.png' %}" alt="">
                          </div>
              
                          <a href="http://www.simbalodges.com/" style="text-decoration: none;" target="blank"><div class="subtitle">Simba Lodge.</div></a>
                        </div>
                      </div>
              
                      <div class="portfolio-item-wrapper">
                        <div class="portfolio-img-background" style="background-image:url(static/kongoni/images/home/hotels/portfolio3.jpg)"></div>
                        <div class="img-text-wrapper">
                          <div class="logo-wrapper">
                            <img src="{% static 'kongoni/images/home/logos/eventbrite.png' %}" alt="">
                          </div>
              
                         <a href="http://oloidencamp.com/pricing/" style="text-decoration: none;" target="blank"><div class="subtitle">Oloiden Campsite.</div></a>
                        </div>
                      </div>                      
                    </div>
                  </div>
                </div>


                <div class="content3">
                  <div class="enashipai">                   
                    <p style="font-weight: bold;">Accomodation at Enashipai</p>
                    <p>All our rooms are indulgently spacious and comfortable offering sweeping views of the surrounding hills or the lush tropical gardens spilling over their banks.</p>
                  </div>
                  <div class="simba">
                    <p><strong>Accomodation at Simba Lodge</strong></p>
                    <p>Lake Naivasha Simba lodge is an enchanting setting where contemporary comfort each room is blissfully private; you can sit on your balcony and watch our resident wildlife, take a nap and wake up to stunning bush views.
                    </p>
                  </div>
                  <div class="oloiden">
                    <p> Welcome to <strong>Oloiden Campsite</strong>.</p>
                    <p>The Naivasha area is a fantastic location, but if you’re looking for a private piece of paradise away from the masses,
                      follow our lead and come to the most serene escape. Ever.</p>
                  </div>                   
                </div>
                

                <div class="content2">
                  <div class="content-wrapper">
                    <div class="portfolio-items-wrapper">
              
                      <div class="portfolio-item-wrapper">
                        <div class="portfolio-img-background" style="background-image:url(static/kongoni/images/home/hotels/portfolio1.jpg)"></div>
              
                        <div class="img-text-wrapper">
                          <div class="logo-wrapper">
                            <img src="{% static 'kongoni/images/home/logos/quip.png' %}" alt="">
                          </div>
              
                         <a href="https://www.enashipai.com/" target="blank" style="text-decoration: none;"><div class="subtitle">Enashipai Resort.</div></a> 
                        </div>
                      </div>
              
                      <div class="portfolio-item-wrapper">
                        <div class="portfolio-img-background" style="background-image:url(static/kongoni/images/home/hotels/portfolio2.jpg)"></div>
                        <div class="img-text-wrapper">
                          <div class="logo-wrapper">
                            <img src="{% static 'kongoni/images/home/logos/devcamp.png' %}" alt="">
                          </div>
              
                          <a href="http://www.simbalodges.com/" style="text-decoration: none;" target="blank"><div class="subtitle">Simba Lodge.</div></a>
                        </div>
                      </div>
              
                      <div class="portfolio-item-wrapper">
                        <div class="portfolio-img-background" style="background-image:url(static/kongoni/images/home/hotels/portfolio3.jpg)"></div>
                        <div class="img-text-wrapper">
                          <div class="logo-wrapper">
                            <img src="{% static 'kongoni/images/home/logos/eventbrite.png' %}" alt="">
                          </div>
              
                         <a href="http://oloidencamp.com/pricing/" style="text-decoration: none;" target="blank"><div class="subtitle">Oloiden Campsite.</div></a>
                        </div>
                      </div>               
                    </div>
                  </div>
                </div>
                


                <div class="content3">                  
                  <p>Some text some text some text some text..Some text some text some text some text</p>
                  <p>Some text some text some text some text..Some text some text some text some text</p>
                  <p>Some text some text some text some text..Some text some text some text some text</p>
                  <p>Some text some text some text some text..Some text some text some text some text</p>
                  <p>Some text some text some text some text..Some text some text some text some text</p>                   
              </div>  
              
                   
    </div>    
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'kongoni/javascript/js/home.js' %}"> </script>
  
{% endblock content %}


