{% extends 'kongoni/base.html' %} 
{% load static %}

{% block content %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no"/> 
    <link rel="stylesheet" href="{% static 'kongoni/css/home.css' %}">
    <title></title>
  </head>

  <body>
    <div class="homeContainer">
          <div class="naivasha">
            <h5>Naivasha Sub-County</h5>
            <p>Home of unlimited opportunities and resources.</p>
          </div>


          
          
    </div>


  </body>
  <script type="text/javascript" src="{% static 'kongoni/javascript/js/home.js' %}"> </script>
  </html>
{% endblock content %}


