{% extends 'kongoni/base.html'%}
{% load static %}


{% block content %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no"/> 
        <!-- CSS CUSTOM -->
        <link rel="stylesheet" href="{% static 'kongoni/css/hotels.css' %}" />

</head>
<body>

    <div class="content">
        <h4>Campsites and hotels in Naivasha Sub-County</h4>
        <div class="row">
            {% for item in hotel %}
                <div class="col no-gutters">
                    <br>
                    <div class="card" style="width: 12rem; height: 15rem;">
                        <img src="{{ item.image.url }}" class="card-img-top" alt="image" height="130">
                        <div class="card-body" style="text-align: center;">
                            <h6 class="card-title">{{ item.name}}</h6>
                            <a href="{{ item.link }}" class="btn btn-primary" target="blank">Visit Site</a>
                        </div>
                    </div>
                    <br>
                </div>
            {% endfor %}
        </div>
    </div>

</body>
{% endblock %}
