{% extends 'kongoni/base.html' %}
{% load static %}

{% block content %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no"/> 
        <!-- CSS CUSTOM -->
        <link rel="stylesheet" href="{% static 'kongoni/css/lake.css' %}" />
</head>
<body>
<div class="content">
<h4>Activities surrounding Lake Naivasha</h4>
<div class="row">
    {% for item in lake %}
    <div class="col">
        <br>
        <div class="card" style="width: 12rem; height: 16rem;">
            <img src="{{ item.image.url }}" class="card-img-top" alt="image" height="130">
            <div class="card-body" style="text-align: center;">
                <h5 class="card-title">{{ item.name }}</h5>
                <a href="{{ item.link }}" class="btn btn-primary" target="blank">Visit Site</a>
            </div>
        </div>
        <br>
    </div>
    {% endfor %}
</div>
</div>
</body>
{% endblock %}
</html>