*{
    margin:0px;
    padding: 0px;
}

html {
    min-height: 100%;
    margin: 0px;
    height: 100%;
    width: 100%;
  }
body{
    background: url("/static/naivasha/images/home/background.jpg");
    background-repeat:no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}
.content
{
   
    margin-bottom:0px;
    border-radius: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 100px;
    

}

div.transbox {
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 5px;
    opacity: 0.8;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
  }

.content h3 {
    color: black;
    text-align: center;
    padding:0px;
    
}
.overview{
    padding-top: -10px;
    padding-right: 20px;
}