{% extends 'naivasha/base.html'%}
{% load static %}

{% block content %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no"/> 
        <!-- CSS CUSTOM -->
        <link rel="stylesheet" href="{% static 'naivasha/css/trends.css' %}" />
</head>
<body>
    <div class="content">
        <h4>Latest trends and News in Naivasha Sub-county</h4>
        <div class="row no-gutters">
            {% for item in trend %}
            <div class="col" style="margin-right: -7px;">                
                <div class="card" style="width: 12rem; height: 14rem;">
                    <img src="{{ item.image.url }}" class="card-img-top" alt="image" height="120">
                    <div class="card-body" style="text-align: center; padding: 0px;">
                        <h6 class="card-title">{{ item.name}}</h6>
                        <div class="link-wrapper">
                            <a href="{{ item.link }}" class="btn btn-primary" target="blank">Visit Site</a>
                        </div>
                    </div>
                </div>                
            </div>
            {% endfor %}
        </div>
    </div>      
</body>
{% endblock %}
</html>